<% content_for :page_title do %>
   <%= Spree.t("static_content.store_hours") %>
<% end %>

<table class="index">
  <thead>
    <tr>
      <th>Day of week</th>
      <th>Open Hour</th>
      <th>Close Hour</th>
      <th>Closed</th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @store_hours.each do |store_hour| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td> <%= store_hour.day %> </td>
        <td> <%= store_hour.open_time %> </td>
        <td> <%= store_hour.close_time %> </td>
        <td> <%= store_hour.closed? %> </td>
        <td  class="actions">
          <%= link_to_edit store_hour, :no_text => true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
